<%= form_with model: @user do |form| %>
    <%= form.hidden_field :id %>
    <div>
        <%= form.label :name, class: 'form-label' %><br>
        <%= form.text_field :name, class: 'form-control' %>
        <% @user.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :email, class: 'form-label' %><br>
        <%= form.email_field :email, class: 'form-control' %>
        <% @user.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div> 

    <div class="mt-3">
        <%= form.submit 'Save', class: "btn btn-primary" %>
        <%= link_to "Back to list", users_path, class: 'btn' %>
    </div>
<% end %>