<tr>
    <th scope="row"><%= user.id %></th>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td class="d-flex">
    <%= link_to 'Edit', edit_user_path(user.id), class: 'btn btn-success me-2' %>
    <%= button_to "Remove", user_path(user.id), method: :delete, class: 'btn btn-danger' %>
    </td>
</tr>